

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #fefefe;
	font-size: 200%;
}

.container {
/*	margin-right: 150px;*/
}
.margin-note {
	color:#f00;
	border-left-style: solid;
	width: 250px;
	float: right;
}













